<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="display: block; justify-content: space-around">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div style="display: flex; justify-content: flex-end">
    <% if user_signed_in? %>
    <div>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link-log-out" %>
    </div>
    <% else %>
    <%= link_to "Login", new_user_session_path, class: "nav-link-log-in" %>
    <% end %>
  </div>
  <br>
  <br>
  <div class="navbar-title"style="display: flex; justify-content: center;">
    <h1 style="letter-spacing: 3px;">
      HUBERT DE TARLE
    </h1>
  </div>
  <br>
  <br>
  <div style="display: flex; justify-content: center">
    <div class="navbar-text <%= "active_link" if action_name == "index" && controller_name == "categories" %>">
      <%= link_to "PROJETS", categories_path, class: "nav-link" %>
    </div>
    <div class="navbar-text <%= "active_link" if action_name == "home" && controller_name == "pages" %>">
      <%= link_to "A PROPOS", root_path, class: "nav-link" %>
    </div>
    <div class="navbar-text <%= "active_link" if action_name == "new" && controller_name == "contacts" %>">
      <%= link_to "CONTACT", new_contact_path, class: "nav-link" %>
    </div>
    <div class="navbar-text <%= "active_link" if action_name == "show" && controller_name == "influencers" %>">
      <%= link_to "BOUTIQUE", "#", class: "nav-link" %>
    </div>
  </div>
</div>
