<div class="container">
  <% if user_signed_in? && current_user.admin %>
    <div class="d-flex justify-content-center">

      <%= link_to edit_category_path(@category) do %>
        <div class="btn button">
          Modifier catégorie
        </div>
      <% end %>

      <%= link_to new_category_artwork_path(@category) do%>
        <div class="btn button">
          Ajouter un item
        </div>
      <% end %>

      <%= link_to category_path(@category), method: :delete, data: { confirm: 'En détruisant cette catégorie, les items inclus dedans seront également supprimés. Es-tu sur?' } do %>
      <div class="btn button">
        Supprimer catégorie
      </div>
      <% end %>
    </div>
  <% end %>
  <div class="back-btn">
    <%= link_to categories_path  do%>
    <i class="fas fa-arrow-left" style="color: black; font-size: 15px;"> Retourner aux projets</i>
  </div>
  <% end %>
  <div>
    <h1 style="text-align: center"><%= @category.name.capitalize %></h1>
  </div>
  <br>
  <div style="display: flex; justify-content: center; text-align: justify; padding: 0px 150px;">
    <%= @category.description %>
  </div>
  <br>
  <% if @category.artworks.length >= 1 %>
  <div style="display: flex; justify-content: center;">
    <%= cl_image_tag @category.artworks[0].photo.key, width: 800, fetch_format: :auto, crop: "scale", class: "artwork-img" %>
  </div>
  <% end %>
  <div class="grid-cards" style="padding: 0px 100px;">
    <% @category.artworks.each do |artwork| %>
      <div class="artwork-photo">
        <%= cl_image_tag artwork.photo.key, width: 296, crop: :scale%>
      </div>
      <div style="display: flex; justify-content: center">
        <% if user_signed_in? && current_user.admin %>
          <%= link_to category_artwork_path(@category, artwork), method: :delete, data: { confirm: 'Supprimer cet article ?' } do %>
          <div class="nav-link-log-in" style="width: 80px; margin-bottom: 5px;">
            Supprimer
          </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
