<div class="container">
  <% if current_user.admin %>
    <div class="d-flex justify-content-center">

      <%= link_to edit_category_path(@category) do %>
        <div class="btn button">
          Modifier catégorie
        </div>
      <% end %>

      <%= link_to new_category_artwork_path(@category) do%>
        <div class="btn button">
          Ajouter un item
        </div>
      <% end %>

      <%= link_to category_path(@category), method: :delete, data: { confirm: 'En détruisant cette catégorie, les items inclus dedans seront également supprimés. Es-tu sur?' } do %>
      <div class="btn button">
        Supprimer catégorie
      </div>
      <% end %>
    </div>
  <% end %>
  <div class="back-btn">
    <%= link_to categories_path  do%>
    <i class="fas fa-arrow-left" style="color: grey; font-size: 15px;"> Retour aux projets</i>
  </div>
  <% end %>
  <div>
    <h1 style="text-align: center"><%= @category.name.capitalize %></h1>
  </div>
  <br>
  <div style="display: flex; justify-content: center; text-align: justify; padding: 0px 150px;">
    <%= @category.description %>
  </div>
  <br>
  <% if @category.artworks.length >= 1 %>
  <%= cl_image_tag @category.artworks[0].photo.key, width: 300, fetch_format: :auto, crop: "scale" %>
  <% end %>
</div>
